{%extends "base.html" %}
{% block title %}Search{% endblock %}
{%block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="mt-2">Search</h1>
            <form>
                Search by:
                <select name="selected_option">
                    {% for option in options%}
                        <option value="{{option}}" {% if option == selected_option %}selected{% endif %}>{{option}}</option>

                    {% endfor %}
                </select>
                <br><br>
                {% if hint %}
                    {{hint}}
                {% endif %}
                {{ form.query }}
                <br>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        <br>
        {% if selected_option %}
            <h1 class="mt-2">Result</h1>
        {% endif %}
        <br>
        {% if not search_result and selected_option %}
            No results by your query
        {% endif %}
        {% for user in search_result %}
        <ul>
            <li><a href="user/profile/{{user.username}}">{{user.username}}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}

