{%extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Search{% endblock %}
{%block content %}
<div class="modal-body row">
    <div class="col-md-5">
        <h1 class="mt-2">Search</h1>
            <form>
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        <br>
        </div>
        <div class="col-md-7">
            <h1 class="mt-2">Result</h1>
            <br>
            {% if not search_result %}
                <p>No results by your query</p>
            {% endif %}
            {% for user in search_result %}
            <ul class="list-unstyled">
                <li>
                    <a href="user/profile/{{user.username}}">{{user.username}}</a>
                    {% if user in user_follows %}
                        <a href="{% url 'users:unfollow' user.username %}"><button class="btn btn-default">Stop follow</button></a>
                    {% else %}
                        <a href="{% url 'users:follow' user.username %}"><button class="btn btn-default">Follow</button></a>
                    {% endif %}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

