<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>
        {% block title %}
          {% if title %}
            {{ title }}
          {% else %}
            ma_book
          {% endif %}
        {% endblock %}
    </title>
  </head>
  <body>
    <div class="container">
      {% if messages %}
        <ul class="messages" style="list-style-type: none;">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>