{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">Messenger</h1>
{% if not dialogs %}
<p>No messages yet</p>
{% else %}
{% for dialog in dialogs %}
<ul class="list-unstyled">
    <li><a href="{% url 'users:profile' dialog.username%}">{{dialog.username}}</a>
    <form action="{% url 'messenger:dialogue' dialog.username%}" method="get" class="form-container">
        <button type="submit" class="btn btn-success">Open dialogue</button>
    </form>
    </li>
</ul>
{% endfor %}
{% endif %}
{% endblock %}