{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <h1 class="text-center">Messenger</h1>
    {% if not users_messages %}
    <p>No messages yet</p>
    {% else %}
    {% for dialog in users_messages.object_list %}
    <ul class="list-unstyled">
        <li><a href="{% url 'users:profile' dialog.username%}">{{dialog.username}}</a>
        <form action="{% url 'messenger:dialogue' dialog.username%}" method="get" class="form-container">
            <button type="submit" class="btn btn-success">Open dialogue</button>
        </form>
        </li>
    </ul>
    {% endfor %}
    {% include 'pagination.html' %}
</div>
{% endif %}
{% endblock %}